@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(hsl(292, 42%, 14%) 35%, hsl(275, 100%, 97%) 35%);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Container */
.wrapper {
  width: 100%;
  padding: 20px;
}

/* Card */
.card {
  max-width: 600px;
  margin: auto;
  background: hsl(0, 100%, 100%);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.faq-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.faq-header img {
  width: 30px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}


/* FAQ */
.faq {
  border-bottom: 1px solid hsl(275, 100%, 97%);
  padding: 15px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question h3 {
  font-size: 16px;
  font-weight: 600;
  color: hsl(292, 42%, 14%);
}

.icon {
  font-size: 22px;
  font-weight: 700;
  color: hsl(292, 16%, 49%);
}

.answer {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(292, 16%, 49%);
  display: none;
}

/* Active */
.faq.active .answer {
  display: block;
}

.faq.active .icon {
  color: hsl(292, 42%, 14%);
}

/* Mobile */
@media (max-width: 375px) {

  .wrapper {
    padding: 0;
  }

  .card {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
  }

  .faq-header img {
    width: 24px;
  }

  .title {
    font-size: 22px;
  }

  .question h3 {
    font-size: 14px;
  }

  .answer {
    font-size: 14px;
  }
}


/* Desktop */
@media (max-width: 1024px) {

  .card {
    max-width: 550px;
  }

  .title {
    font-size: 28px;
  }
}
