@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
  background-image: url("../images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* wrapper */
.wrapper {
  width: 100%;
  padding: 20px;
}

/* card */
.card {
  background: white;
  max-width: 600px;
  margin: auto;
  border-radius: 16px;
  padding: 35px;
  box-shadow: 0 20px 40px rgba(0,0,0,.2);
}

/* header */
.faq-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.title {
  font-size: 32px;
  color: hsl(292, 42%, 14%);
}

/* faq */
.faq {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question h3 {
  font-size: 16px;
  color: hsl(292, 42%, 14%);
}

.answer {
  margin-top: 12px;
  color: hsl(292, 16%, 49%);
  line-height: 1.5;
  display: none;
}

.faq.active .answer {
  display: block;
}

/* mobile */
@media(max-width:375px){

  body{
    background-image: url("../images/background-pattern-desktop.svg");
  }

  .card{
    padding:20px;
  }

  .title{
    font-size:22px;
  }

  .question h3{
    font-size:14px;
  }

  .answer{
    font-size:14px;
  }
}
